# Header unset Last-Modified
# FileETag none
# ExpiresActive On
# ExpiresDefault "access plus 1 years"

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule .*\.git/.* - [F]
</IfModule>

<IfModule mod_headers.c>
    # Images
    <FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # Javascript, CSS 
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>

</IfModule>
